#pageDIV { position: absolute; top:0px; left: ' + left + 'px; width:700px; height:800px; clip:rect(0px 700px 800px 0px); overflow:hidden;' )
    if(is.iOS)
		document.write('-webkit-text-size-adjust:100%;')
    document.write('} div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
